.container1{
    width: 80%;
padding-left: 360px;
padding-bottom: 100px;
}
.main-container {
    flex-direction: row; /* Default for larger screens */
    flex-wrap: wrap;
}
.why  h3{font-size: 23px;
    line-height: 38px;
    text-transform: uppercase;}
/* Mobile Styles */

::after, ::before {
    box-sizing: border-box;
}
/* section about  */
.section-about{
    height: 140vh;
    background-color: white;
    padding: 20px; /* Optional: Add some padding */
      }

.container1 .img-fluid{
    width: 300px;
     height: 410px;
    }
.text-muted{
    font-size: 56px;
    line-height: 66px;
    color: #6c757d !important;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
}
.rowabout{
    position: relative;
    top: -270px;
}
.mb-3{
    font-size: 38px;
    text-transform: uppercase;
 }
 p{
    font-family: "Montserrat", sans-serif;
font-size: large; 
}

/* --------section about end----------  */
/* --------section why ----------  */

.why{   height:60vh ;}
.why .card {
    transition: all .4s ease 0s;
}
.bg-black-50 {
    background: #181a23;
}
.why .col-lg-4{
    position: relative;
    width:340px;
    height: 270px;

}
.text-center {
    text-align: center !important;
}

.col2:hover,.col4:hover,.col6:hover{
    background-color: #181a23;
    color: white;
    p{color: white;  }
     
}
.why i{
    font-size: 60px;
}
.why p{
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 412px) {    
    .main-container{
        text-align: center;
    }
 .container1{
    width: 80%;
    text-align: center;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.section-about{
    padding: 0px;
    height: 230vh; }   
    .why{
        height: 200vh;
    }
}
