.blogsidebar .card a h4 {
    font-weight: 700;
  }
.blogsidebar{
    height: 200vh;
}
  .blogsidebar .card .text-color {
    font-size: 15px;
  }
  .blogsidebar .card {
margin-left: 24px;
width: 350px;
}


  .blogsidebar .card a h4:hover {
    color: #f5634b;
  }
  
  .blog-post-meta span {
    font-size: 13px;
  }
  .blogsidebar .card a h4 {
    font-weight: 700;
}

  .blogsidebar .font-secondary {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  
}

.search {
  position: relative;
  width: 100%; /* or set a custom width */
}

.search input {
  padding-right: 40px; /* Adjust to make space for the icon */
}

.search i {
  position: absolute;
  right: 10px; /* Distance from the right edge of the input */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to perfect vertical center */
  color: #888; /* Adjust icon color if needed */
}

.mt5{
  margin-top: 143px;
}

.icon-container {
  display: flex;
  gap: 6px; /* Adjust the spacing between icons */
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: white;
  color: #7e7c7c; /* Adjusts the icon color */
 }

.icon-box i {
  font-size: 18px; /* Adjust the size of the icons */
  margin: 0px;
}


.listcontainer{
  width: 300px;
  height: auto;
  background-color: white;
}

.listcontainer .text-muted1{
  font-size: 21px;
  padding: 5px 0px;
  color: gray;
  position: relative;
  right:26px;
}

.listcontainer .text-muted1:hover{
  color: red;
}
.lnks{display: inline-block;
  color: #232323;
  border: 1px solid #dedede;
  padding: 5px 16px;
  margin-bottom: 6px;
  margin: 3px 3px;
  text-transform: capitalize;
  font-size: 16px;
}
.lnks:hover{
  color: red;
}


@media (max-width: 412px) {
  .blogsidebar {
      height: 460vh; /* Be cautious with fixed heights, as they might cause overflow issues */
    }
    .mt5{
      margin-left: 30px;
    }
    .icon-box { width: 36px;  
      height: 36px; 
       font-size: 16px; } 
    .icon-container { gap: 5px; }
    .follow{
      margin-left: 60px;
    }
  
    .row11{
      text-align: center;
    }

  }

/* Add responsiveness */
.blogsidebar .row22{
  height: 400vh;
}


.blog blogdetails{
  height: 800vh;
}

.font-secondary {
    font-family: "Montserrat", sans-serif;
}

.pagination {
  border: 0px;
}

.pagination li a {
  color: #232323;
}

.pagination .page-item.active .page-link {
  background-color: #f5634b;
  border-color: #f5634b;
  color: #fff !important;
}

.pagination .page-item:last-child .page-link {
  border-radius: 0px;
}

.pagination .page-item:first-child .page-link {
  border-radius: 0px;
}

.pagination .page-link {
  background: transparent;
  padding: 15px 20px;
}
