.blogdet {
    height: 300vh;
  }
  
  @media (max-width: 412px) {
    .blogdet {
      height: 570vh; /* Adjust as needed */
     }
     .blogdet .row11{
        height: 400vh;     
      }
     .meidaimg{
      margin-left: 60px;
   }
   .social-share{
      margin-left: 60px;     
   }
.sideicon .follow .listgroup{
        margin-right: 160px;
    } }
