.bloggrid .card a h4 {
    font-weight: 700;
  }
.bloggrid{
  padding-top: 100px;
    height: 240vh;
}

  .bloggrid .card .text-color {
    font-size: 15px;
  }
  .bloggrid .card {
width: 400px;
}

.bloggrid .img-fluid {
    height: 300px;

}

  .bloggrid .card a h4:hover {
    color: #f5634b;
  }
  
  .blog-post-meta span {
    font-size: 13px;
  }
  .bloggrid .card a h4 {
    font-weight: 700;
}

  .bloggrid .font-secondary {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  
}
@media (max-width: 412px) {
  .bloggrid {
    height: 470vh;
 }

  .bloggrid .card {
    margin-right: 30px ; /* Adjust vertical margin if needed */
    width: 90%; /* Adjust width to fit smaller screens */
  }
}
