.blogsidebar .card a h4 {
    font-weight: 700;
  }
.blogsidebar{
    height: 380vh;
}
  .blogsidebar .card .text-color {
    font-size: 15px;
  }
  .blogsidebar .card {
margin-left: 54px;
width: 350px;
}


  .blogsidebar .card a h4:hover {
    color: #f5634b;
  }
  
  .blog-post-meta span {
    font-size: 13px;
  }
  .blogsidebar .card a h4 {
    font-weight: 700;
}

  .blogsidebar .font-secondary {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  
}

.search {
  position: relative;
  width: 100%; /* or set a custom width */
}

.search input {
  padding-right: 40px; /* Adjust to make space for the icon */
}

.search i {
  position: absolute;
  right: 10px; /* Distance from the right edge of the input */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to perfect vertical center */
  color: #888; /* Adjust icon color if needed */
}

.mt5{
  margin-top: 143px;
}

.follow .text-muted{
width: 40px;
height: 40px;
}
.follow .text-muted .fab{
  position: relative;
  top: -18px;
}
  .follow i{
    font-size: 20px;
  }
  .follow a {
    width: 60px;
    height: 60px;
    background: #fff;
    display: inline-block;
    text-align: center;
  
}

.listcontainer{
  width: 300px;
  height: auto;
  background-color: white;
}

.listcontainer .text-muted1{
  font-size: 21px;
  margin: 10px;
  padding: 7px;
  margin: 0px;
  color: gray;
}

.listcontainer .text-muted1:hover{
  color: red;
}
.lnks{
  color: rgb(37, 37, 37);
  display: inline-block;
  border: 1px solid #dedede;
  padding: 4px 10px;
  text-transform: capitalize;
    font-size: 14px;
    margin:10px 10px;
}
.lnks:hover{
  color: red;
}


/* Add responsiveness */
@media (max-width: 768px) {
  .blogsidebar {
      height: 770vh; /* Be cautious with fixed heights, as they might cause overflow issues */
  }

}
@media (max-width: 360px) {
  .row11 {
      height: 560vh; /* Be cautious with fixed heights, as they might cause overflow issues */
  }
.sides{
  margin-left: 80px;
}
}

/* Add responsiveness */
.blogsidebar .row22{
  height: 800vh;
}


.blog blogdetails{
  height: 800vh;
}

.font-secondary {
    font-family: "Montserrat", sans-serif;
}

.pagination {
  border: 0px;
}

.pagination li a {
  color: #232323;
}

.pagination .page-item.active .page-link {
  background-color: #f5634b;
  border-color: #f5634b;
  color: #fff !important;
}

.pagination .page-item:last-child .page-link {
  border-radius: 0px;
}

.pagination .page-item:first-child .page-link {
  border-radius: 0px;
}

.pagination .page-link {
  background: transparent;
  padding: 15px 20px;
}
