.contactrow {
    position: relative;
    top: 200px;
}

.contactform {
    position: relative;
    top: -70px;
    height: 100vh;
    
    background-color:white;
}

.form-control {
    box-shadow: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #f5634b;
}

/* Contact Form Container */
#contact-form {
    max-width: 800px;
    height: 200px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;

}

/* Form Row and Columns */
.form-row {
    display: flex;
    flex-wrap: wrap;  
    gap: 10px;
    background-color:white;
}

/* Input & Textarea Styles */
.form-group, .form-group-2 {
    margin-bottom: 20px;

}

.form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
}

.form-control:focus {
    outline: none;
    border-color: red;
}

/* Textarea Styles */
textarea.form-control {
    resize: vertical;
}

/* Centering and Text Alignment */
.contactform {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 768px) {
    .contact {
      padding: 10px;
    }
  
    .contact-row {
      top: 100px; 
    }
  
    .contactform {
      top: 0;
      padding: 20px;
      height: 80vh;
    }
    .form-row {
      flex-direction: column;
    }
  

}
  