.pricing{
  height: 150vh;
}

.pricing .card-body ul li {
  font-size: 15px;
}

.pricing h3 {
  padding-left: 20px;
}

.pricing h3 sup {
  top: 20px;
  left: 0px;
}

.pricing h3 sub {
  font-size: 13px;
}

.pricing .btn-solid-border:hover {
  color: #fff !important;
}
.text-sm {
  font-size: 14px;
}
.text-lg {
  font-size: 56px;
  line-height: 66px;
  font-weight: 600;
}
.mb-4, .my-4 {
  margin-bottom: 10px;
}
.pricecard {
  width: 380px;
  flex-wrap: nowrap;

}

i{
  margin-right: 15px;
}
li{
  margin: 20px 10px;
}
.btn-main:hover, .btn-transparent:hover, .btn-small:hover {
  background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
  color: #fff !important;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.primg .pricecard {
  background: url('/src/assets/img3.jfif') no-repeat;
  background-size: cover;
  position: relative; /* Added to enable overlay positioning */
  overflow: hidden; /* Ensures overlay covers content */
}

.primg .pricecard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(35, 35, 35, 0.8); /* Adjusts to a dark semi-transparent overlay */
  z-index: 1; /* Ensures overlay stays below the card content */
}

/* To make sure card content displays above the overlay */
.primg .pricecard .card-body, 
.primg .pricecard h4, 
.primg .pricecard h3, 
.primg .pricecard ul, 
.primg .pricecard a {
  position: relative;
  z-index: 2;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .pricing{
      height: 270vh;
  }
}

@media (max-width: 360px) {
  .pricing{
      height: 270vh;
  }
  .pricecard{
    margin-left: 20px;
  }
}


